# See http://help.github.com/ignore-files/ for more about ignoring files.

# Ignore bundler config
/.bundle

# Ignore the default SQLite database.
/db/*.sqlite3

# Ignore all logfiles and tempfiles.
/log/*.log
/tmp

# System data
.DS_Store
.idea

/config/database.yml