<% if flash[:error] || flash[:notice] -%>
  <div class="alert alert-error alert-block">
    <h3>Ups?! Da ist wohl etwas schiefgelaufen.</h3>
    <%=h flash[:error] || flash[:notice] %>
  </div>
<% end -%>