<%= render :partial => 'flash_messages' %>

<div class="choose-subjects-outer-wrapper">
  <h1 class="instruction">Wähle alle Studiengänge aus, in denen du Module belegt hast.</h1>
  
  <%= render('shared/subjects_form') %>
</div>