<div class="content-wrapper">
  <div class="width-wrapper-sm">
    
    <h1 class="instruction">Kontakt</h1>

    <div class="row contact-details">
      <a id="contact-mail" href="#">
        <span class="glyphicon glyphicon-send contact-mail"></span>
        enricoschlag@gmail
      </a>
    </div>
  </div>
</div>