<div class="content-wrapper">
  <div class="width-wrapper-sm">
    
    <h1 class="instruction">Kontakt</h1>

    <div class="row contact-details">
      
      <a href="http://twitter.com/ennobigbenno" class="col-sm-4">
        <span class="contact-twitter"></span>
        @EnnoBigBenno
      </a>
      
      <a id="contact-mail" href="#" class="col-sm-4">
        <span class="glyphicon glyphicon-send contact-mail"></span>
        enricoschlag@gmail
      </a>

      <a href="https://alpha.app.net/enno" class="col-sm-4 contact-adn">
        <span class="contact-adn"></span>
        @enno
      </a>

    </div>
  </div>
</div>