<div class="content-wrapper">
  <div class="width-wrapper-sm">
    
    <h1 class="instruction">Kontakt</h1>

    <div class="row contact-details">
      <a href="http://twitter.com/ennobigbenno" class="col-sm-6">
        <span class="contact-twitter"></span>
        @EnnoBigBenno
      </a>
      <a id="contact-mail" href="#" class="col-sm-6">
        <span class="glyphicon glyphicon-send contact-mail"></span>
        enricoschlag@gmail
      </a>
    </div>
  </div>
</div>