<p class="header-addition">
  Fragen? Fehler? Verbesserungsvorschläge? Lob und Umarmungen??
</p>
<h1>Kontakt</h1>
<hr />

<section class="row contact-details">
  <div class="span2">&nbsp;</div>
  <div class="span4 contact-twitter">
    <h2>Twitter</h2>
    <p>
      <%= link_to '@EnnoBigBenno', 'http://twitter.com/ennobigbenno' %>
    </p>
  </div>
  <div class="span4 contact-mail">
    <h2>Mail</h2>
    <p>
      <a id="contact-mail" href="#">enricoschlag (ätt) googlemail (Punkt) com</a>
    </p>
  </div>
  <div class="span2">&nbsp;</div>
</section>