<div class="content-wrapper content-wrapper-donate-thx">
  <div class="width-wrapper-lg">
    
    <h1 class="instruction"><span class="glyphicon glyphicon-thumbs-up"></span> Vielen, ehrlichen Dank für deine Spende</h1>
    <h3>Du bist hiermit offiziell dufte!</h3>

  </div>
</div>