<marquee behavior="alternate">
  <h1>Impressum Impressum Impressum Impressum Impressum Impressum Impressum Impressum Impressum Impressum Impressum Impressum Impressum Impressum Impressum Impressum Impressum</h1>
</marquee>

<p>nach dem Telemediengesetz (TMG) der Bundesrepublik Deutschland.</p>

<h2>Kontakt</h2>
<p>
  <%= image_tag 'imprint/email.gif', :class => 'email' %>
  <%= image_tag 'imprint/email.gif', :class => 'email' %>
  <%= image_tag 'imprint/email.gif', :class => 'email' %><br />
  Siehe <%= link_to 'Kontakt', contact_path %>:<br />
  enricoschlag (ätt) googlemail (Punkt) com
</p>

<h2>Adresse</h2>
<p>Angaben gemäß § 5 TMG und verantwortlich für den Inhalt nach § 55 Abs. 2 RStV:</p>
<p>
  Enrico Schlag<br />
  Kolonnadenstraße 8<br />
  04109 Leipzig
</p>
<h2>Haftungsausschluss</h2>
<table border="1">
  <tr>
    <td>
      <h3>Haftung für Inhalte</h3>
      <p>Ich bemühe mich die Inhalte der Seite aktuell zu halten. Trotz sorgfältiger Bearbeitung bleibt eine Haftung ausgeschlossen.</p>
      <p>Als Diensteanbieter bin ich gemäß § 7 Abs.1 TMG für eigene Inhalte auf diesen Seiten nach den allgemeinen Gesetzen verantwortlich.</p>
      <p>Nach §§ 8 bis 10 TMG bin ich als Diensteanbieter jedoch nicht verpflichtet, übermittelte oder gespeicherte fremde Informationen zu überwachen. Bei bekannt werden von Rechtsverletzungen, werde ich diese Inhalte umgehend entfernen. Eine diesbezügliche Haftung übernehme ich erst ab dem Zeitpunkt der Kenntnis einer möglichen Rechtsverletzung.</p>            
    </td>
    <td>
      <h3>Haftung für Links</h3>
      <p>Unser Angebot enthält Links zu externen Webseiten Dritter, auf deren Inhalte wir keinen Einfluss haben. Für die Inhalte der verlinkten Seiten ist stets der jeweilige Anbieter oder Betreiber der Seiten verantwortlich. Für die Inhalte und die Richtigkeit der Informationen verlinkter Websites fremder Informationsanbieter wird keine Gewähr übernommen.</p>
      <p>Die verlinkten Seiten wurden zum Zeitpunkt der Verlinkung auf mögliche Rechtsverstöße <strong>ohne Beanstandung</strong> überprüft. Bei bekannt werden von Rechtsverletzungen werden wir derartige Links umgehend entfernen.</p>
    </td>
  </tr>
</table>

<h2>Urheberrecht</h2>
<p>Die durch die Seitenbetreiber erstellten Inhalte und Werke auf diesen Seiten unterliegen dem deutschen Urheberrecht. Die Vervielfältigung, Bearbeitung, Verbreitung und jede Art der Verwertung außerhalb der Grenzen des Urheberrechtes bedürfen der schriftlichen Zustimmung des jeweiligen Autors bzw. Erstellers.</p>

<h2>Datenschutz</h2>

<table border="1">
  <tr>
    <td>
      <h3>Erhebung und Verarbeitung von Daten</h3>
      <p>Jeder Zugriff auf meine Homepage und jeder Abruf einer auf der Homepage hinterlegten Datei werden protokolliert. Die Speicherung dient internen, systembezogenen und statistischen Zwecken. Protokolliert werden: Name der abgerufenen Datei, Datum und Uhrzeit des Abrufs, übertragene Datenmenge, Meldung über erfolgreichen Abruf, Webbrowser und anfragende Domain.</p>
      <p>Weitergehende personenbezogene Daten werden nur erfasst, wenn Sie diese Angaben freiwillig, etwa im Rahmen eines Kommentares, machen. Soweit Sie mir personenbezogene Daten zur Verfügung gestellt haben, verwenden ich diese nur zur Beantwortung Ihrer Anfragen, zur Abwicklung mit Ihnen geschlossener Verträge und für die technische Administration. Der Schutz Ihrer personenbezogenen Daten bei der Erhebung, Verarbeitung und Nutzung anlässlich Ihres Besuchs auf unserer Homepage ist mir ein wichtiges Anliegen. Ihre Daten werden im Rahmen der gesetzlichen Vorschriften geschützt.</p>
      <p>Die Löschung der gespeicherten personenbezogenen Daten erfolgt, wenn Sie Ihre Einwilligung zur Speicherung widerrufen, wenn ihre Kenntnis zur Erfüllung des mit der Speicherung verfolgten Zwecks nicht mehr erforderlich ist oder wenn ihre Speicherung aus sonstigen gesetzlichen Gründen unzulässig ist.</p>
    </td>
    <td>
      <h3>Cookies</h3>
      <p>Meine Internetseiten verwenden an mehreren Stellen so genannte Cookies. Sie dienen dazu, unser Angebot nutzerfreundlicher, effektiver und sicherer zu machen. Cookies sind kleine Textdateien, die auf Ihrem Rechner abgelegt werden und die Ihr Browser speichert. Sie können in Ihrem Webbrowser jederzeit festlegen, wie Sie Cookies benutzen möchten. Sie können beispielsweise verhindern, dass unsere Internetseite/n auf Ihrem Computer Cookies speichert.<br />
        Zudem können Sie die auf Ihrem Computer im Zug Ihrer Besuche unserer Internetseite abgelegten Cookies jederzeit löschen. Ich möchte Sie jedoch darauf hinweisen, dass Sie in diesem Fall nicht alle Funktionen unserer Internetseiten in vollem Umfang nutzen können. Cookies richten auf Ihrem Rechner keinen Schaden an und enthalten keine Viren.</p>            
    </td>
    <td>
      <h3>Google Analytics</h3>
      <p>Diese Website benutzt Google Analytics, einen Webanalysedienst der Google Inc. („Google“). Google Analytics verwendet sog. „Cookies“, Textdateien, die auf Ihrem Computer gespeichert werden und die eine Analyse der Benutzung der Website durch Sie ermöglichen. Die durch den Cookie erzeugten Informationen über Ihre Benutzung dieser Website (einschließlich Ihrer IP-Adresse) wird an einen Server von Google in den USA übertragen und dort gespeichert. Google wird diese Informationen benutzen, um Ihre Nutzung der Website auszuwerten, um Reports über die Websiteaktivitäten für die Websitebetreiber zusammenzustellen und um weitere mit der Websitenutzung und der Internetnutzung verbundene Dienstleistungen zu erbringen. Auch wird Google diese Informationen gegebenenfalls an Dritte übertragen, sofern dies gesetzlich vorgeschrieben oder soweit Dritte diese Daten im Auftrag von Google verarbeiten. Google wird in keinem Fall Ihre IP-Adresse mit anderen Daten von Google in Verbindung bringen.</p>
      <p>Ihre IP-Adresse wird durch eine entsprechende Konfiguration von Google Analytics anonymisiert erfasst. Außerdem können Sie durch entsprechende Einstellungen in Ihrer Browser-Software die Installation der Cookies verhindern. Durch die Nutzung dieser Website erklären Sie sich mit der Bearbeitung der über Sie erhobenen Daten durch Google in der zuvor beschriebenen Art und Weise und zu dem zuvor benannten Zweck einverstanden. Mehr Informationen über Google Analytics erhalten Sie <a title="Google Analytics" href="http://www.google.com/intl/de/analytics/privacyoverview.html" onclick="javascript:_gaq.push(['_trackEvent','outbound-article','http://www.google.com']);">hier</a>.</p>            
    </td>
  </tr>
</table>
<h2>Salvatorische Klausel</h2>
<p>Sollte eine Bestimmung des Vertrages unwirksam sein, so bleibt die Wirksamkeit der übrigen unberührt. Die unwirksame Bestimmung ist durch eine Bestimmung zu ersetzen, die dem gewollten Zweck in rechtlich zulässiger Weise am nächsten kommt. Das gleiche gilt für Vertragslücken.</p>
