<header class="jumbo">
  <h1>HTWK2iCal</h1>
  <p class="jumbo-sub">
    Dein Stundenplan für die HTWK.<br />
    Überall verfügbar. Immer up-to-date.
  </p>
  <!--<p class="cta-addition">(kostenlos und anonym)</p>-->
  <%= render('shared/subjects_form') %>
</header>

<hr />

<p class="header-addition">
  Im Digiboard einloggen nur um zu checken, wann du heute los musst? Das ist Vergangenheit!
</p>
<h1 class="features-header">Dein Stundenplan. So, wie du ihn immer wolltest.</h1>

<div class="features-details">
  <div class="row">
    <div class="span4">
      <h2>Am Computer, am Smartphone.</h2>
      <p>
        Einmal erstellt kannst du von all deinen Geräten aus auf deinen Stundenplan zugreifen. Desktop-Rechner, Smartphone oder Tablet. Dein Stundenplan ist genau da, <strong>wo du ihn benötigst</strong>.
      </p>
    </div>
    <div class="span4">
      <h2>Nur Module, die du benötigst.</h2>
      <p>
        Musst du wissen, wann Wahlpflichfächer stattfinden, die du nicht belegst? Natürlich nicht. Ab sofort tauchen sie <strong>nicht mehr in deinem Stundenplan</strong> auf.
      </p>
    </div>
    <div class="span4">
      <h2>Eigene Modulnamen.</h2>
      <p>
        Immer diese langen, kryptischen Modulbezeichnungen. Schluss damit! Du kannst für jedes Modul <strong>eigene Namen</strong> vergeben. Deiner Fantasie sind dabei selbstverständlich keine Grenzen gesetzt.
      </p>
    </div>
  </div>
  <div class="row">
    <div class="span4">
      <h2>Immer aktuell.</h2>
      <p>
        Du wartest noch auf den Prof, weil du nicht gecheckt hast, ob die Vorlesung wirklich stattfindet? Nie wieder! Dein Stundenplan <strong>aktualisiert sich selbstständig</strong>, damit du nichts verpasst.
      </p>
    </div>
    <div class="span4">
      <h2>Ein Kalender. Alle Fächer.</h2>
      <p>
        Wenn du Module aus anderen Studiengängen belegst, ist HTWK2iCal genau das, worauf du gewartet hast. Du kannst alle deine Module auch studiengangsübergeifend in <strong>einem Stundenplan</strong> zusammenfassen.
      </p>
    </div>
    <div class="span4">
      <h2>Alles kann, nichts muss.</h2>
      <p>
        Alles, was HTWK2iCal ermöglicht, <i>kannst</i> du verwenden, <em>musst</em> du aber natürlich nicht. Es ist ja schließlich <strong>dein Stundenplan</strong>.
      </p>
    </div>
  </div>
</div>



<!--<h1>-->
  <!--<%#= t :language %>: <%= t I18n.locale %>-->
<!--</h1>-->
<!--<p>-->
  <!--<%#= render('intro') %>-->
<!--</p>-->