<h1>Was ist mit <em>HTWK2iCal</em> passiert?</h1>

<img src="<%= asset_path('minion.jpg') %>" alt="">

<p class="lead text-center">
  Der Stundenplan für das Wintersemester 2013/14 wird<br />
  hier ab <strong>03.10.</strong> zur Verfügung zu stehen.
</p>

<div class="maintenance-teaser">
  <div class="row">
    <div class="span5 offset2">
      <h3>Warum?</h3>
      <p class="muted">
        Erfahrungsgemäß braucht der HTWK-Stundenplan im jetzigen Entwurfsstadium ein bisschen Zeit, um sich einzupendeln. Modulnamen werden geändert, Veranstaltungen werden verlegt oder komplett umgeschmissen und auch so befinden sich eigentlich alle gedanklich noch in den Ferien.
      </p>
      <p class="muted">
        Weil dabei Fehler entstehen können, mit denen sich keiner von uns rumschlagen sollte – weder ihr noch ich – wird <em>HTWK2iCal</em> erst kurz vor Vorlesungsbeginn an den Start gehen.
      </p>
    </div>
    
    <div class="span3 offset1">
      <h3>Was erwartet mich?</h3>
      <p class="muted">Ich plane einen frischen Anstrich und die Unterstützung für Studium Generale und weitere Module dieser Art. Da ich mir aber zwischendurch noch ein paar Tage Urlaub gönnen möchte, wird man genaueres erst sehen, wenn es soweit ist.</p>
    </div>
  </div>

  <div class="row">
    <hr />

    <div class="maintenance-salutation span6 text-center">
      <h3>Genießt die restliche vorlesungsfreie Zeit!</h3>
      <p>
        <small class="muted">...und vergesst nicht euren Stundenplan am 03.10. hier anzulegen.</small>
      </p>
    </div>
  </div>  
</div>