<div class="panel panel-default">
  <div class="panel-heading">

    <%= link_to(title, '#collapse-' + id, {
          :class => 'accordion-toggle panel-title ' + id,
          :data => {:toggle => 'collapse', :parent => '#app-instructions'}
        }) %>

  </div>

  <div id="collapse-<%= id %>"class="panel-collapse collapse">
    <div class="panel-body">

      <%= yield %>

    </div>
  </div>
</div>