// GENERIC
// -----------------------------------------------------------------------------

body {background:image-url('layout/pattern3.png') repeat top left; background-attachment:fixed; font-weight:300;}
h1 {text-align:center;}
hr {height:1px; margin:50px 0; border:0; #gradient > .fade();}

// navigation
.navbar-main {margin:12px 0; background:transparent; border:none; font-size:1.2em;

  @navColor: #ccc;
  .navbar-brand {font-size:1.5em; color:@navColor;
    &:hover {color:#fff;}
  }
  .navbar-nav>li>a {color:@navColor;
    &.active {color:#fff;}
  }

  .navbar-toggle {
    &:hover, &:focus {background-color:#666;}
  }

  .navbar-collapse {float:right; background:transparent;
    @media (max-width: 767px) {float:none; margin-top:10px; text-align:center;}
    a {padding-right:20px;}
    li:last-of-type a {padding-right:15px;}
  }
  .glyphicon {position:relative; top:1px; left:-2px; opacity:0.7; font-size:90%;}
  a:hover, a.active {
    .glyphicon {opacity:1; color:@mainGreen;}
  }
}

.navbar-brand .label-success {position:relative; top:-6px; left:5px; background-color:@mainGreen; font-size:50%; font-weight:normal;}


// BOOTSTRAP OVERRIDES
// -----------------------------------------------------------------------------

@font-face {
  font-family:'Glyphicons Halflings';
  src:asset-url('bootstrap/fonts/glyphicons-halflings-regular.eot');
  src:asset-url('bootstrap/fonts/glyphicons-halflings-regular.eot?#iefix') format("embedded-opentype"),
      asset-url('bootstrap/fonts/glyphicons-halflings-regular.woff') format("woff"),
      asset-url('bootstrap/fonts/glyphicons-halflings-regular.ttf') format("truetype"),
      asset-url('bootstrap/fonts/glyphicons-halflings-regular.svg#glyphicons-halflingsregular') format("svg")
}

.alert {margin-bottom:0; text-align:center; border-radius:0; font-weight:normal;
  h3 {margin-top:0; font-size:1.4em;}
}
.popover-title {font-weight:bold;}
.tooltip-inner {max-width:220px; padding:8px;}
.row {margin:0;}


// CLASSES
// -----------------------------------------------------------------------------

.content-wrapper {width:100%; padding:100px 0; background:#fff;}

.width-wrapper-lg {max-width:1000px; margin:0 auto;}
.width-wrapper-sm {max-width:845px; margin:0 auto;}
 
.header-addition {text-align:center; line-height:140%; font-size:1.3em; weight:@alternatingFontWeight; color:@lighterGrey;}

.alternating-action {
  h2 {margin-bottom:40px !important; text-align:center; font-size:24px; font-weight:@alternatingFontWeight; line-height:120%; color:@lighterGrey;}
  .btn-primary {display:block; width:180px; margin:0 auto; padding:10px; font-size:14px;}
}

.footer {margin:40px 0; text-align:center; color:#ccc; font-size:1.2em;
  a {color:#fff;}
}