.content-wrapper-donate {font-weight:normal;
  .instruction {margin-bottom:60px;}
}

.donate-status {max-width:400px; margin:0 auto 60px;
  .progress {height:48px; margin-bottom:10px; border:1px solid #ccc; box-shadow:none;}
  .progress-bar {min-width:30px; font-size:14px; line-height:48px; box-shadow:none;}
  .progress-bar[aria-valuenow="0"] {min-width:0; margin-left:5px; color:#777;}
  .progress-bar-muted {background-color:#ddd;}
  p {text-align:center;}
}
.donate-status-goal {color:@mainGreen;}

.donate-buttons {margin:80px 0; text-align:center;
  p {margin-bottom:30px; font-weight:@alternatingFontWeight; font-size:150%;}
  .btn {margin-right:16px;}
  .btn:last-child {margin-right:0;}
}

// Thx
.content-wrapper-donate-thx {
  .glyphicon {top:4px; margin-right:8px;}
  h3 {color:@mainGreen; text-align:center;}
}