.faq-overview {
  font-size:14px;

  h2 { margin-bottom:18px; }
  ol { margin-left:36px; }
  li { margin-bottom:7px; line-height:150%; }
}

.faq-list { max-width:800px; }

dt { margin-bottom:18px; font-size:18px; }

dd { margin-bottom:36px; font-size:16px; line-height:150%; }